:root {
  --primary: #0066cc;
  --primary-light: #0099ff;
  --black: #000000;
  --black-15: #151515;
  --silver: #c0c0c0;
  --silver-ligth: #e1e1e1;
  --white: #ffffff;

  --secundary: #004285;
  --secundary-light: #0058b0;

  --garantir: #00c00a;
  --garantir-hover: #00a008;
}
/* ============================= */

html {
  scroll-behavior: smooth;
}

/* ============================== */

header {
  .btn-search {
    background-color: var(--primary);
    color: var(--black);
  }
  .btn-search:hover {
    background-color: var(--primary-light);
    color: var(--white);
    transform: scale(1.05);
  }
  .input-search {
    background-color: var(--silver);
  }
  .input-search:focus {
    box-shadow: 0 0 10px var(--primary);
    background-color: var(--silver);
  }
  .nav-link {
    color: var(--primary) !important;
    font-size: larger;
  }
  .nav-link:hover {
    color: var(--primary-light) !important;
    transform: scale(1.05);
  }
  .navbar-toggler {
    background-color: var(--primary-light);
    border: solid 2px var(--primary);
  }
  .navbar-toggler:focus {
    transform: scale(1.05);
  }
  .dropdown-menu {
    background-color: var(--silver);
  }
  .dropdown-item {
    background-color: var(--silver);
    color: var(--black);
  }
  .dropdown-item:hover {
    background-color: var(--white);
    color: var(--black);
  }
  background-color: var(--black);
  color: var(--primary);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

/* ============================== */

.section-home-1,
.section-home-2,
.section-home-3,
.section-academia-1,
.section-academia-2,
.section-academia-3,
.section-servico-1,
.section-servico-2,
.section-servico-3 {
  width: 100%;
  height: 100vh;
}

/* ============================== */

.section-home-1 {
  .bg-img {
    background: linear-gradient(to top, var(--secundary), var(--primary-light));
    height: 100vh;
  }
  .img-sct1 {
    border: solid 2px var(--black);
    border-radius: 5px;
    box-shadow: 0 0 15px var(--white);
  }
}
.section-home-2 {
  .card {
    background-color: var(--silver);
    border: solid 5px var(--black);
    border-radius: 10px;
    margin: 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
  }
  .card span {
    text-shadow: 2px 2px 2px var(--black);
    font-size: 60px;
  }
  .span-t {
    color: var(--black);
  }
  .span-d {
    color: var(--primary);
  }
  .img-sct2-1,
  .img-sct2-2 {
    width: 300px;
    height: fit-content;
    max-width: 100%;
  }
  .img-thumbnail {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 2px var(--black);
  }

  ul {
    list-style-type: none;
  }
  ul li {
    position: relative;
    padding-left: 20px;
  }
  ul li::before {
    content: "✔";
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
  }
  background: linear-gradient(to top, var(--primary-light), var(--secundary));
  height: auto !important;
  min-height: 100vh;
}
.section-home-3 {
  background: linear-gradient(to top, var(--secundary), var(--primary-light));
  height: auto !important;
  min-height: 100vh;
  .img-modalidades {
    height: 200px;
    max-width: 100%;
    border: solid 3px var(--black);
    box-shadow: 2px 2px 2px var(--silver);
    border-radius: 5px;
  }
  .texto-modalidades {
    height: 150px;
  }
  .color-progress {
    height: 40px;
    border: solid 3px var(--black);
    border-radius: 15px;
    background-color: var(--silver-ligth);
  }
  .card-modalidades {
    height: 105px;
    width: 100%;
    background: var(--silver-ligth);
    border: solid 2px var(--black);
  }
  .titulo {
    background: var(--secundary);
    border: solid 3px var(--black);
    width: 500px;
    height: 100px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 50px;
    color: var(--black);
    border-radius: 100px;
  }
}

/* ============================== */

.section-academia-1 {
  background-image:
    linear-gradient(#000000cc, #00000059), url(imagens/bg-academia.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.section-academia-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(imagens/bg-academia-secao2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  .titulo-prop {
    color: var(--white);
    letter-spacing: 1px;
    font-size: 50px;
  }
  .img-prop {
    width: 150px;
    height: 150px;
    border: solid 3px var(--secundary);
    border-radius: 50%;
  }
  .estilo-lista {
    font-size: 30px;
    color: var(--primary-light);
  }

  .texto-azul {
    color: var(--primary-light);
  }
}
.section-academia-3 {
  background-image:
    linear-gradient(#000000cc, #00000059), url(imagens/bg-academia-secao3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  .card {
    background: var(--secundary);
    border: solid 3px var(--black-15);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--primary-light);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: var(--white);
    text-shadow: 2px 2px 5px var(--black-15);
    letter-spacing: 1px;
    font-size: 30px;
    width: 600px;
    max-height: 800px;
    min-height: 400px;
    gap: 60px;
  }
  .card-title {
    font-size: 35px;
  }
  .card-text {
    font-size: 25px;
  }
  .img-promo {
    width: 800px;
    height: auto;
    border: solid 3px var(--black);
  }
  /* Estilo para criar a ponta do balão */
  .balao-fala {
    position: relative;
    display: inline-block; /* Faz a caixa ajustar ao tamanho do texto */
    min-width: 300px; /* Define uma largura máxima */
    max-width: 600px;
    background: var(--white) !important;
    color: var(--black) !important ;
    font-size: 28px;
  }

  /* Criando o triângulo apontando para baixo */
  .balao-fala::after {
    content: "";
    position: absolute;
    bottom: -10px; /* Joga a ponta para fora da caixa na parte de baixo */
    left: 20px; /* Distância do canto esquerdo */
    border-width: 10px 10px 0 10px;
    border-style: solid;
    /* A cor aqui deve ser IGUAL à cor de fundo do seu balão */
    border-color: var(--white) transparent transparent transparent;
  }
  .btn-promo {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1px;
    height: max-content;
    width: 600px;
    background: var(--garantir);
    border: solid 5px var(--black-15);
    border-radius: 50px;
  }
  .btn-promo:hover {
    background: var(--garantir-hover);
    color: var(--black);
    transform: scale(1.05);
  }
}

/* ============================== */

.section-servico-1 {
  background-image:
    linear-gradient(#000000bf, #00000066), url(imagens/bg-academia-secao3.png);
}
.section-servico-2 {
}
.section-servico-3 {
}

/* ============================== */

.titulo {
  background: var(--black-15);
  border: solid 3px var(--white);
  width: 500px;
  height: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: var(--primary);
  border-radius: 100px;
}
.texto-principal {
  color: var(--black);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px var(--white);
}
.texto-secundario {
  color: var(--primary-light);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px var(--black);
}
.texto-info {
  font-size: 30px;
  color: var(--white);
}
.texto-descricao {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}

/* ============================== */

footer {
  .nav-link {
    color: var(--silver-ligth) !important;
    font-size: larger;
  }
  .nav-link:hover {
    color: var(--primary-light) !important;
    transform: scale(1.05);
  }
  .navbar-toggler {
    background-color: var(--primary-light);
    border: solid 2px var(--primary);
  }
  .navbar-toggler:focus {
    transform: scale(1.05);
  }
  .dropdown-menu {
    background-color: var(--silver);
    text-shadow: none;
  }
  .dropdown-item {
    background-color: var(--silver);
    color: var(--black);
  }
  .dropdown-item:hover {
    background-color: var(--white);
    color: var(--black);
  }
  .fundo-footer {
    background: var(--secundary);
    color: var(--white);
    text-shadow: 0 0 5px var(--black);
    padding-top: 70px;
  }
  .fundo-parcerias {
    border: solid 2px var(--black);
  }
  .img-maps {
    max-width: 50%;
    height: auto;
    align-items: center;
    border: solid 2px var(--black);
    border-radius: 10px;
  }
  .redes-sociais {
    text-decoration: none;
    color: var(--primary-light);
    text-shadow: 1px 1px 1px var(--black);
    font-size: 20px;
  }
  .redes-sociais:hover {
    color: var(--primary);
  }
  .endereco {
    text-decoration: none;
    color: var(--primary-light);
  }
  .endereco:hover {
    color: var(--primary);
  }
  .img-logo-footer {
    width: 180px;
    height: 180px;
  }
  .bg-img-logo {
    background: var(--black-15);
    border: solid 2px var(--white);
    border-radius: 5px;
  }
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  color: var(--primary);
}
